<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>affichage current profil</h1>
    ton email est :
    <%= current_user.email %><br>
    ton prénom est :
    <%= current_user.first_name %><br>
    ton nom est :
    <%= current_user.last_name %><br><br>
    les events que tu as créer :

    <%@event.each do |e|%><br>
      <%=e.title%>
    <%end%>
    <br><br>
    <%=link_to "edit profil", edit_user_path%><br>
    <%=link_to "Back", event_index_path%>
  </body>
</html>
